<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Social footer -->
<footer th:fragment="socialFooter" class="navbar navbar-default navbar-fixed-bottom copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="copyright-space">
                <span th:text="#{app.name}"></span>
            </p>
        </div>
        <div class="col-md-6">
            <ul class="social-icons">
                <li><a href="https://github.com/datacentric" data-original-title="Github" class="social_github"></a></li>
                <li><a href="https://facebook.com/datacentric" data-original-title="Facebook" class="social_facebook"></a></li>
                <li><a href="https://twitter.com/datacentric" data-original-title="Twitter" class="social_twitter"></a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html> 