<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Social footer -->
<footer class="navbar navbar-default navbar-fixed-bottom copyright" th:fragment="footer">
    <div class="container">
        <div class="col-md-6">
            <p class="copyright-space">
                <span>Démo BforBank</span> | <span>V1.0</span> | <span>Step </span>
            </p>
        </div>
        <div class="col-md-2 pull-right">
            <ul class="social-icons">
                <li><a class="social_github" data-original-title="Github" href="https://github.com/jntakpe"></a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>